/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Utils */

.header-container{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    justify-content: center;
    
}

.main-container{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    min-height: 500px;
}

.main-container>*{
    /*  debug */
    border: 3px dashed black;
   
}

.big-main-container{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    height: 1000px;
}

.big-main-container>*{
    border: 3px dashed black;
}

.dark-grey-container{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    height: 700px;
}

.dark-grey-container>*{
    border: 3px dashed black;
}

.footer-container{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    height: 70px;
    background-color: #7fffd4;
    align-items: center;
    justify-content: space-between;
}

.footer-container>*{
    border: 3px dashed black;
}

/* Header */


header{
    background-image: url(../img/jumbo.png);
    background-size: cover;  
}

.left-box{
    width: 15%;
}

.nav-box{
    flex-grow: 1;
    text-align: center;  
}

.nav-box>a{
   color: white;
   font-size: 20px;
   margin: 0 20px;
   text-decoration: none;
   
}

.right-box{
    width: 15%;
    text-align: right;
}

.button-login{
    background-color: white;
    font-size: 13px;
    border-style: none;
    border-radius: 20px;
    padding: 10px 15px;
}

.jumbo-box{
    width: 80%;
    margin: 100px 0;
}

.jumbo-box>*{
    color: white;
    text-align: center;
    padding: 20px 0;
}

.jumbo-box>p{
    font-size: 20px;
    max-width: 80%;
    margin: 0 auto;
}

h1{
    font-size: 60px;
}

.button-container{
    display: flex;
    justify-content: center;
}

.button-download{
    background-color: white;
    color: black;
    border-radius: 24px;
    border-style: none;
    margin: 0 20px;
    font-size: 20px;
    padding: 10px 20px;
}

.button-open{
    background-color:black;
    color:white;
    border-radius: 24px;
    border-style: none;
    margin: 0 20px;
    font-size: 20px;
    padding: 10px 20px;
}

/* Main */



/*        SECTION 2 (White) */

.white-section{
    background-color: white;
}

.blue-box{
    background-color: #1e90ff;
    width: 60%;
    height: 400px;
}

.pink-box{
    background-color: #ffc0cb;
    width: 40%;
    height: 400px;
}

/*  SECTION 3 (Grey) */

.grey-section{
    background-color: #d3d3d3;
}

/*   SECTION 4 (Stessi valori Section 2) White */

/*    SECTION 5 (Big grey) */

.big-grey-section{
    background-color: #d3d3d3;
}

.big-green-box{
    background-color: #228b22;
    width: 100%;
    height: 800px;
}

/*     SECTION 6 (Dark grey) */

.dark-grey-section{
    background-color: #23272a;
    border-bottom: 2px solid #d3d3d3 ;
}

.column-pink-box{
    background-color: #f08080;
    width: 300px;
    height: 600px;
}

.blue-box-group{
    display: flex;
    width: 900px;
}

.blue-box-group>*{
    border: 3px dashed white;
}

.lightblue-box{
    background-color: #20b2aa;
    width: 25%;
    height: 600px;
}

/*   FOOTER */

footer {
    background-color: #23272a;
    height: 90px;
    padding-top: 20px;
}

.footer-logo,
.footer-button {
    background-color: #ffb6c1;
    width: 70px;
    height: 35px;
    justify-content: center;
    padding: 7px;
}

